// ===================================================ШРИФТЫ====================================================================================================================
@mixin med() {
	font-family: "Poppins-Medium", sans-serif;
	font-weight: 500;
}

@mixin bold() {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
}
// ========ПРИМЕР=======
// @mixin reg-(сокращение от название) {
// 	font-family: 'Название шрифта', sans-serif;
// 	font-weight: ставим подходящие значение;
//		font-style: ставим подходящие значение;
// }

// ======================================================CIRCLE=================================================================================================================

@mixin before_circle {
	&:before {
		content: "";
		position: absolute;
		width: 36px;
		height: 36px;
		top: -30%;
		left: 0;
		z-index: -1;
		border-radius: 50%;
		background: $color-green;
	}
}

