.promo {
    min-height: 100vh;
    position: relative;
    background: url("../img/bg3.jpg") center/cover no-repeat;
    padding-top: 158px;
    &__title {
        width: 532px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        @include bold ();
        color: $color-white;
    }
}
